In [ ]:
Q1. List any five functions of the pandas library with execution.

In [ ]:
pd.read_csv(): This function is used to read data from a CSV (Comma-Separated Values) file and create a Pandas DataFrame.

In [ ]:
import pandas as pd

# Read a CSV file into a DataFrame
df = pd.read_csv('data.csv')

# Display the first few rows of the DataFrame
print(df.head())

In [ ]:
df.head(): This DataFrame method is used to display the first few rows of a DataFrame (by default, the first five rows).

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28]}
df = pd.DataFrame(data)

# Display the first two rows of the DataFrame
print(df.head(2))

In [ ]:
df.describe(): This DataFrame method generates summary statistics of numeric columns in the DataFrame, such as count, mean, standard deviation, minimum, and maximum.

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {'Age': [25, 30, 35, 28, 22]}
df = pd.DataFrame(data)

# Generate summary statistics
print(df.describe())

In [ ]:
df.groupby(): This method is used to group data in a DataFrame based on a specific column and perform aggregation operations on the grouped data.

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [10, 15, 20, 25, 30]}
df = pd.DataFrame(data)

# Group by 'Category' and calculate the mean of 'Value' for each group
grouped_df = df.groupby('Category')['Value'].mean()
print(grouped_df)

In [ ]:
df.to_csv(): This DataFrame method is used to write a DataFrame to a CSV file

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28]}
df = pd.DataFrame(data)

# Write the DataFrame to a CSV file
df.to_csv('output.csv', index=False)

In [ ]:
These are just a few of the many functions and methods available in Pandas for data manipulation, analysis, and visualization. Pandas provides a comprehensive set of tools for working with tabular data efficiently.

In [ ]:
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [ ]:
You can re-index a Pandas DataFrame with a custom index that starts from 1 and increments by 2 for each row using the following Python function:

In [2]:
import pandas as pd

def reindex_dataframe(df):
    # Create a new index using a range that starts from 1 and increments by 2
    new_index = pd.RangeIndex(start=1, stop=len(df) * 2, step=2)
    
    # Re-index the DataFrame
    df = df.reindex(new_index)
    
    return df

# Example DataFrame
data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}
df = pd.DataFrame(data)

# Re-index the DataFrame
df = reindex_dataframe(df)

# Print the re-indexed DataFrame
print(df)

      A     B     C
1  20.0  50.0  80.0
3   NaN   NaN   NaN
5   NaN   NaN   NaN

In [ ]:
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [ ]:
You can create a Python function to iterate over a Pandas DataFrame and calculate the sum of the first three values in the 'Values' column as follows:

In [3]:
import pandas as pd

def calculate_sum_of_first_three(df):
    # Check if the 'Values' column exists in the DataFrame
    if 'Values' in df.columns:
        # Extract the 'Values' column and calculate the sum of the first three values
        values_column = df['Values']
        sum_of_first_three = values_column.head(3).sum()
        
        # Print the sum to the console
        print("Sum of the first three values in 'Values' column:", sum_of_first_three)
    else:
        print("The 'Values' column does not exist in the DataFrame.")

# Example DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Call the function to calculate the sum of the first three values
calculate_sum_of_first_three(df)

Sum of the first three values in 'Values' column: 60

In [ ]:
In this function:

We first check if the 'Values' column exists in the DataFrame using if 'Values' in df.columns. If it exists, we proceed with the calculation; otherwise, we print a message indicating that the column does not exist.

We extract the 'Values' column using df['Values'].

We use .head(3) to select the first three values in the column.

We calculate the sum of these three values using .sum().

Finally, we print the sum to the console.

In the provided example, the function is called with a sample DataFrame, and it calculates and prints the sum of the first three values in the 'Values' column:

In [ ]:
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [ ]:
You can create a Python function to add a new column 'Word_Count' to a Pandas DataFrame that contains the number of words in each row of the 'Text' column. Here's how you can do it:

In [4]:
import pandas as pd

def add_word_count_column(df):
    # Split the 'Text' column into words and count the number of words in each row
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))

# Example DataFrame
data = {'Text': ["This is a sample sentence.",
                 "Another example with more words.",
                 "Short text."]}

df = pd.DataFrame(data)

# Call the function to add the 'Word_Count' column
add_word_count_column(df)

# Print the DataFrame with the new column
print(df)

                               Text  Word_Count
0        This is a sample sentence.           5
1  Another example with more words.           5
2                       Short text.           2

In [ ]:
In this function:

We use the apply() method on the 'Text' column to apply a lambda function to each row.

Inside the lambda function, we use str(x).split() to split the text into words (assuming words are separated by spaces) and then use len() to count the number of words.

We assign the result to a new column 'Word_Count' in the DataFrame.

When you call the function and print the DataFrame, you'll see the original 'Text' column and the newly added 'Word_Count' column.

In [ ]:
Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
In Pandas, DataFrame.size and DataFrame.shape are attributes that provide information about the dimensions and size of a DataFrame, but they serve slightly different purposes:

DataFrame.size:

DataFrame.size returns the total number of elements in the DataFrame, which is equivalent to the product of the number of rows and the number of columns.
It provides the total count of data points in the DataFrame, including both non-null and null (NaN) values.
Example:

In [5]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

size = df.size  # Returns 6 (2 columns x 3 rows = 6 elements)

In [ ]:
DataFrame.shape:

DataFrame.shape returns a tuple that represents the dimensions of the DataFrame, specifically the number of rows and columns.
It provides information about the structure of the DataFrame, helping you understand its layout.
Example:

In [ ]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

shape = df.shape  # Returns (3, 2) indicating 3 rows and 2 columns

In [ ]:
To summarize:

DataFrame.size gives you the total count of elements (cells) in the DataFrame.
DataFrame.shape gives you a tuple containing the number of rows and columns in the DataFrame.
Both attributes are valuable for different purposes. DataFrame.shape is commonly used to understand the DataFrame's dimensions, while DataFrame.size can be useful when you want to know the total count of data points in the DataFrame, which includes non-null values and potentially null (NaN) values

In [ ]:
Q6. Which function of pandas do we use to read an excel file?

In [ ]:
In Pandas, you can use the pd.read_excel() function to read data from an Excel file (.xlsx or .xls) into a Pandas DataFrame. This function allows you to import data from Excel spreadsheets and work with it in a tabular format.

Here's the basic syntax for using pd.read_excel()

In [ ]:
import pandas as pd

# Read an Excel file into a DataFrame
df = pd.read_excel('file.xlsx')

In [ ]:
In this syntax:

'file.xlsx' should be replaced with the path to your Excel file.
The function reads the data from the Excel file and creates a DataFrame df containing the data.
You can also specify various optional parameters in pd.read_excel() to customize how the Excel file is read, such as specifying a specific sheet name, skipping rows, selecting columns, and more. For example

In [ ]:
# Read a specific sheet and skip the first row as header
df = pd.read_excel('file.xlsx', sheet_name='Sheet1', header=1)

In [ ]:
This would read the data from the 'Sheet1' sheet of the Excel file, treating the first row as the column headers.

In summary, pd.read_excel() is the function you use to import data from Excel files into Pandas DataFrames for further analysis and manipulation.

In [ ]:
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [ ]:
You can create a Python function to extract the username part from email addresses in a Pandas DataFrame and create a new column 'Username'. You can achieve this using the str.split() method to split the email addresses and then selecting the username part. Here's how you can do it:

In [6]:
import pandas as pd

def extract_username(df):
    # Use str.split() to split the 'Email' column at the '@' symbol
    df['Username'] = df['Email'].str.split('@').str[0]

# Example DataFrame
data = {'Email': ['user1@example.com', 'user2@gmail.com', 'user3@domain.com']}
df = pd.DataFrame(data)

# Call the function to extract the username and create the 'Username' column
extract_username(df)

# Print the DataFrame with the new 'Username' column
print(df)

               Email Username
0  user1@example.com    user1
1    user2@gmail.com    user2
2   user3@domain.com    user3

In [ ]:
We use df['Email'].str.split('@') to split the 'Email' column at the '@' symbol, resulting in a Series of lists where each list contains two elements: the username and the domain.

We then use .str[0] to select the first element of each list, which is the username.

We assign the extracted usernames to a new column 'Username' in the DataFrame.

When you call the function and print the DataFrame, you'll see the original 'Email' column and the newly added 'Username' column:

In [ ]:
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [ ]:
You can create a Python function to select rows from a Pandas DataFrame where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. Here's how you can do it:

In [7]:
import pandas as pd

def select_rows(df):
    # Use boolean indexing to select rows that meet the conditions
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    
    return selected_rows

# Example DataFrame
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}

df = pd.DataFrame(data)

# Call the function to select rows based on conditions
selected_df = select_rows(df)

# Print the selected DataFrame
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [ ]:
In this function:

We use boolean indexing to select rows that meet the conditions specified in the question: 'A' greater than 5 and 'B' less than 10. The conditions are combined using the & (and) operator.

The selected rows are assigned to the variable selected_rows.

We return the selected_rows DataFrame.

In [ ]:
Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [ ]:
You can create a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column of a Pandas DataFrame. You can use Pandas DataFrame methods for these calculations. Here's how you can do it:

In [8]:
import pandas as pd

def calculate_statistics(df):
    # Calculate mean, median, and standard deviation
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_deviation = df['Values'].std()
    
    return mean_value, median_value, std_deviation

# Example DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Call the function to calculate statistics
mean, median, std_dev = calculate_statistics(df)

# Print the calculated statistics
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

In [ ]:
In this function:

We use df['Values'].mean() to calculate the mean of the values in the 'Values' column.

We use df['Values'].median() to calculate the median of the values in the 'Values' column.

We use df['Values'].std() to calculate the standard deviation of the values in the 'Values' column.

We return the calculated mean, median, and standard deviation as a tuple.

In [ ]:
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [ ]:
To create a new column 'MovingAverage' in a Pandas DataFrame that contains the moving average of the sales for the past 7 days for each row, you can use the rolling() method with a window size of 7 and then calculate the mean. Here's how you can do it

In [9]:
import pandas as pd

def calculate_moving_average(df):
    # Sort the DataFrame by the 'Date' column (assuming it's not already sorted)
    df = df.sort_values(by='Date')

    # Calculate the moving average with a window size of 7, including the current day
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

# Example DataFrame
data = {'Date': ['2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04', '2023-09-05', '2023-09-06', '2023-09-07'],
        'Sales': [100, 120, 130, 110, 140, 150, 160]}

df = pd.DataFrame(data)

# Convert the 'Date' column to datetime format (if it's not already)
df['Date'] = pd.to_datetime(df['Date'])

# Call the function to calculate the moving average
df = calculate_moving_average(df)

# Print the DataFrame with the 'MovingAverage' column
print(df)

        Date  Sales  MovingAverage
0 2023-09-01    100     100.000000
1 2023-09-02    120     110.000000
2 2023-09-03    130     116.666667
3 2023-09-04    110     115.000000
4 2023-09-05    140     120.000000
5 2023-09-06    150     125.000000
6 2023-09-07    160     130.000000

In [ ]:
In this function:

We first ensure that the DataFrame is sorted by the 'Date' column because rolling calculations require data to be in chronological order.

We use the rolling() method on the 'Sales' column with a window size of 7 (to include the current day) and min_periods=1 to calculate the rolling mean.

The rolling mean is assigned to a new column 'MovingAverage' in the DataFrame.

Finally, we return the modified DataFrame

In [ ]:
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [ ]:
To create a new column 'Weekday' in a Pandas DataFrame that contains the weekday name corresponding to each date in the 'Date' column, you can use the dt.strftime() method with the '%A' format code. Here's how you can do it:

In [10]:
import pandas as pd

def add_weekday_column(df):
    # Ensure the 'Date' column is in datetime format (if not already)
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Add a 'Weekday' column containing the weekday names
    df['Weekday'] = df['Date'].dt.strftime('%A')

    return df

# Example DataFrame
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

# Call the function to add the 'Weekday' column
df = add_weekday_column(df)

# Print the DataFrame with the 'Weekday' column
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [ ]:
In this function:

We first ensure that the 'Date' column is in datetime format using pd.to_datetime().

We use the dt.strftime('%A') method to extract the weekday names from the 'Date' column and assign them to a new column 'Weekday' in the DataFrame.

Finally, we return the modified DataFrame.

In [ ]:
Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [ ]:
To select all rows from a Pandas DataFrame where the date in the 'Date' column falls between '2023-01-01' and '2023-01-31', you can use the pd.to_datetime() function to convert the date strings to datetime objects and then use boolean indexing. Here's how you can do it:

In [11]:
import pandas as pd

def select_rows_between_dates(df, start_date_str, end_date_str):
    # Convert start_date_str and end_date_str to datetime objects
    start_date = pd.to_datetime(start_date_str)
    end_date = pd.to_datetime(end_date_str)
    
    # Ensure the 'Date' column is in datetime format (if not already)
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Create a boolean mask for rows between the specified dates
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    
    # Use the mask to select the rows
    selected_rows = df[mask]

    return selected_rows

# Example DataFrame
data = {'Date': ['2023-01-01', '2023-01-15', '2023-02-05', '2023-03-10']}
df = pd.DataFrame(data)

# Call the function to select rows between '2023-01-01' and '2023-01-31'
selected_df = select_rows_between_dates(df, '2023-01-01', '2023-01-31')

# Print the selected DataFrame
print(selected_df)

        Date
0 2023-01-01
1 2023-01-15

In [ ]:
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?